// * {
//   border: 1px dotted black;
// }

.content {
  background-color: $white;
  text-align: center;
  h1 {
    letter-spacing: 2px;
  }
  .project {
    border: 2px solid black;
    display: inline-block;
    img {
      max-height: 200px;
      max-width: 200px;
    }
  }
}
