// * {
//   border: 1px solid black;
//   padding: 10px;
//   box-sizing: border-box;
// }

.container {
  height: 100%;
  width: 100%;
}

#one {
  background:url('../images/coffeecoding.jpg');
  background-size: cover;
  height: 700px;
  background-attachment: fixed;


  #container-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  h1#mission {
    color: white;
    font-size: 4.5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3em;
  }

  #start-button {
    color: white;
    display: block;
    background-color: $mainGreen;
    border: none;
    font-size: 18px;
    height: 55px;
    width: 230px;
    margin: 100px auto 0 auto;
    transition-property: background-color, font-weight, letter-spacing;
    transition-duration: 0.5s;
    text-transform: uppercase;
    letter-spacing: 3px;
    box-shadow: 3px 3px 1px #398c91;
  }

  #start-button:hover {
    background-color: $accentGreen;
    letter-spacing: 6px;
  }
  #start-button:active {
    background-color: aqua;
  }
  #start-button:focus {
    outline: 0;
  }
}

#two {
  background-color: $offWhite;
  height: 700px;
  text-align: center;

  h2 {
    padding: 80px;
    font-weight: normal;
    font-size: 30px;
    margin: 0;
  }

  #info-container {
    margin: 0 auto;
    padding: 0;
    width: 99%;
    text-align: center;
    height: 75%;
  }

  .three-boxes {
    font-size: 16px;
    padding: 50px;
    line-height: 180%;
    height: 270px;
  }

  #info1,#info2,#info3 {
    display: inline-block;
    width: 30%;
    height: 100%;
    font-size: 28px;
    text-align: center;
  }
}

#info1 {
  margin-right: 30px;
}
#info3 {
  margin-left: 30px;
}

@media (max-width: 700px) {

  #one {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 36% 0%;
  }

  #info1,#info2,#info3 {
    display: block;
  }
}
