* {
  border: 1px solid black;
  padding: 10px;
}

body {
  font-family: verdana, sans-serif;
  background-color: #eee;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
}

#one {
  background-color: $grey;
  height: 90vh;

  h1#mission {
    color: white;
    font-size: 4.5em;
    text-align: center;
    text-transform: uppercase;
  }

  #start-button {
    color: white;
    display: block;
    background-color: $mainGreen;
    border: none;
    font-size: 26px;
    height: 12%;
    width: 20%;
    margin: 0 auto;
  }

}

#two {
  background-color: $offWhite;
  height: 100vh;
  font-weight: normal;
  text-align: center;

  #info-container {
    margin: 0 auto;
    padding: 0;
    width: 95%;
    text-align: center;
  }

  #info1,#info2,#info3 {
    display: inline-block;
    width: 30%;
    height: 300px;
    font-size: 28px;
    text-align: center;
  }
}
