* {
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
}

body {
  font-family: verdana, sans-serif;
  background-color: #eee;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
}

#one {
  background-color: $grey;
  height: 90vh;


  #container-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  h1#mission {
    color: white;
    font-size: 4.5em;
    text-align: center;
    text-transform: uppercase;
  }

  #start-button {
    color: white;
    display: block;
    background-color: $mainGreen;
    border: none;
    font-size: 26px;
    height: 70px;
    width: 250px;
    margin: 0 auto;
    // position: relative;
    // top: 150px;
  }
}

#two {
  background-color: $offWhite;
  height: 100vh;
  font-weight: normal;
  text-align: center;

  h2 {
    padding: 40px;
  }

  #info-container {
    margin: 0 auto;
    padding: 0;
    width: 99%;
    text-align: center;
    height: 75%;
  }

  #info1,#info2,#info3 {
    display: inline-block;
    width: 30%;
    height: 100%;
    font-size: 28px;
    text-align: center;
  }
}

#info1 {
  margin-right: 30px;
}
#info3 {
  margin-left: 30px;
}
