#lightbox {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, .8);
}

#x {
  position: fixed;
  right:0;

  -webkit-filter: brightness(205%);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

#x:hover {
  -webkit-filter: brightness(365%);
}

#login-box {
  width: 500px;
  height: 250px;
  background-color: $offWhite;
  margin: -150px 0 0 -250px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 5px 5px 3px #4A4A4A;
  text-align: center;
  padding-top: 60px;

  p {
    font-size: 22px;
    color: $grey;
  }
  img {
    // border: 4px solid black;
    display: inline;
    position: absolute;
    left: 97px;
    margin-top: 20px;
  }

  button {
    color: white;
    display: inline;
    background-color: $grey;
    border: none;
    font-size: 18px;
    height: 55px;
    width: 190px;
    // margin: 100px auto 0 auto;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    text-transform: uppercase;
    letter-spacing: 3px;
    box-shadow: 3px 3px 1px black;
    position: absolute;
    right: 115px;
    margin-top: 27px;


  }

  button:hover {
    background-color: $lightGrey;
    color: $almostBlack;
    // letter-spacing: 6px;
  }
  button:active {
    // background-color: aqua;
  }
  button:focus {
    outline: 0;
  }
}
