@import 'variables';
@import 'mixins';
@import 'dashboard';
@import 'navbar';
@import 'profile';
@import 'new';
@import 'index';
@import 'footer';
@import 'lightbox';

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana, sans-serif;
  margin: 0;
  padding: 0;
}
