@import 'variables';
@import 'mixins';
@import 'landing';
@import 'footer';
@import 'dashboard';
@import 'navbar';
@import 'profile';
@import 'new';

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana, sans-serif;
  margin: 0;
  padding: 0;
}
