@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'fontello';
  src: url("../fontello/font/fontello.eot?70198446");
  src: url("../fontello/font/fontello.eot?70198446#iefix") format("embedded-opentype"), url("../fontello/font/fontello.woff?70198446") format("woff"), url("../fontello/font/fontello.ttf?70198446") format("truetype"), url("../fontello/font/fontello.svg?70198446#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?70198446#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-menu:before {
  content: '\e801'; }

/* '' */
* {
  color: #333;
  font-family: verdana, sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    color: grey; }

.content {
  background-color: #FFFFFF;
  text-align: center; }
  .content h1 {
    letter-spacing: 2px; }
  .content .project {
    border: 2px solid black;
    display: inline-block; }
    .content .project img {
      max-height: 200px;
      max-width: 200px; }

.profile {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  background-color: #F5F5F5;
  margin: 50px; }
  .profile .profile-div {
    display: inline-block; }

.form-div {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  background-color: #F5F5F5;
  margin: 50px; }

#one {
  background: url("../images/coffeecoding.jpg");
  background-size: cover;
  height: 700px;
  background-attachment: fixed; }
  #one #container-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 160px; }
  #one h1#mission {
    color: white;
    font-size: 4.5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3em; }
  #one #start-button {
    color: white;
    display: block;
    background-color: #37BEC0;
    border: none;
    font-size: 18px;
    height: 55px;
    width: 230px;
    margin: 100px auto 0 auto;
    transition-property: background-color, font-weight, letter-spacing;
    transition-duration: 0.5s;
    text-transform: uppercase;
    letter-spacing: 3px;
    box-shadow: 3px 3px 1px #398c91; }
  #one #start-button:hover {
    background-color: #72D0D2;
    letter-spacing: 6px; }
  #one #start-button:active {
    background-color: aqua; }
  #one #start-button:focus {
    outline: 0; }

#two {
  background-color: #F5F5F5;
  text-align: center; }
  #two h2 {
    padding: 50px;
    font-weight: normal;
    font-size: 30px;
    margin: 0; }
  #two #info-container {
    padding: 0;
    width: 100%;
    text-align: center; }
  #two .three-boxes {
    font-size: 16px;
    padding: 0 20px;
    line-height: 180%; }
  #two #info1, #two #info2, #two #info3 {
    display: inline-block;
    width: 24%;
    height: 50%;
    font-size: 28px;
    text-align: center; }

#info1 {
  margin-right: 50px; }

#info3 {
  margin-left: 50px; }

@media (max-width: 700px) {
  #one {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 24% 0%;
    background-size: 233%; }
    #one h1#mission {
      font-size: 29px;
      margin-bottom: 35px;
      margin-top: 10px; }

  #two h2 {
    padding: 80px 0; }
  #two #info1, #two #info2, #two #info3 {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 75%;
    height: 45%; }
    #two #info1 .three-boxes, #two #info2 .three-boxes, #two #info3 .three-boxes {
      padding: 0; } }
.nav-bar {
  background-color: #444;
  color: white;
  height: 70px;
  line-height: 70px;
  padding: 0 40px; }
  .nav-bar .home {
    float: left; }
  .nav-bar * {
    color: white; }
  .nav-bar .dropdown-toggle {
    height: 70px; }
    .nav-bar .dropdown-toggle:hover .dropdown {
      display: block; }

.dropdown {
  background-color: #444;
  display: none;
  line-height: 40px;
  position: absolute;
  right: 0;
  top: 70px;
  text-align: center;
  width: 150px; }

footer {
  background-color: #DEDEDE;
  height: 40vh; }
  footer p {
    margin: 0; }

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1; }

#x {
  position: fixed;
  right: 0;
  -webkit-filter: brightness(265%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

#x:hover {
  -webkit-filter: brightness(364%); }

#login-box {
  width: 500px;
  height: 250px;
  background-color: #F5F5F5;
  margin: -150px 0 0 -250px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 5px 5px 3px #4A4A4A;
  text-align: center;
  padding-top: 60px; }
  #login-box p {
    font-size: 22px;
    color: black;
    margin: 20px 0; }
  #login-box img {
    display: inline;
    position: absolute;
    left: 97px;
    margin-top: 20px; }
  #login-box button {
    color: white;
    display: inline;
    background-color: #3E4E5A;
    border: none;
    font-size: 18px;
    height: 55px;
    width: 190px;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    text-transform: uppercase;
    letter-spacing: 3px;
    box-shadow: 3px 3px 1px black;
    position: absolute;
    right: 115px;
    margin-top: 27px; }
  #login-box button:hover {
    background-color: #DEDEDE;
    color: #0F2920; }
  #login-box button:focus {
    outline: 0; }

/*# sourceMappingURL=main.css.map */
