<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <link rel="stylesheet" href="../css/main.css" media="screen" title="main" charset="utf-8">
  <body>
    <div class="nav-bar">
      <p>DASHBOARD</p>
    </div>
    <div class="content">
      <div class="in-progress">
        <h1>IN PROGRESS (2)</h1>
        <div class="project">
          <img src="../images/codewars.jpeg">
          <h3>Write a For Loop</h3>
        </div>
        <div class="project">
          <img src="../images/codewars.jpeg">
          <h3>Build a Blog</h3>
        </div>
      </div>
      <div class="new-project">
        <h1>START A NEW PROJECT</h1>
        <div class="project">
          <img src="../images/codewars.jpeg">
          <h3>Quick Challenge</h3>
        </div>
        <div class="project">
          <img src="../images/codewars.jpeg">
          <h3>Team Project</h3>
        </div>
      </div>
    </div>
    <footer>
      <p>Founders &amp; Coders CIC</p>
    </footer>
    <script src="../js/landing.js" charset="utf-8"></script>
  </body>
</html>
