<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to ...</title>
  </head>
  <link rel="stylesheet" href="../css/main.css" media="screen" title="main" charset="utf-8">
  <body>
    <div id="one">
      <div class="container" id="container-top">
        <h1 id='mission'>Learn to code<br>in a community</h1>
        <button type="button" name="button" id="start-button">Start coding</button>
      </div>
    </div>
    <div id="two">
      <h2>FAC Overflow is a place to learn to code with other people.</h2><br>
      <div class="container" id="info-container">

        <div class"infobox" id="info1">
          fake content
        </div>
        <div class"infobox" id="info2">
          fake content
        </div>
        <div class"infobox" id="info3">
          fake content
        </div>

      </div>
    </div>
    <footer>
      Founders &amp; Coders CIC
    </footer>
    <script src="../js/landing.js" charset="utf-8"></script>

    </script>
  </body>
</html>
